<template>
  <div
    v-if="!isLoading"
    :class="$style.container"
  >
    <div v-if="!error">
      <CurrencyTitle :title="currency.name" />

      <CurrencyChart
        :symbol="currency.symbol"
        :price="currency.price"
        :price-history="currency.priceHistory"
      />

      <CurrencyAlerts
        :alerts="currency.alerts"
        :symbol="currency.symbol"
        @removeAlert="onRemoveAlert"
      />

      <CurrencyInfoList
        :circulating-supply="currency.circulatingSupply"
        :max-supply="currency.maxSupply"
        :market-cap="currency.marketCap"
        :all-time-high="currency.allTimeHigh"
      />

      <CurrencyAbout
        :description="currency.description"
      />
    </div>

    <div v-else>
      <div :class="$style.error">
        {{ errorStatus }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios, { AxiosError } from 'axios'
import { defineComponent } from '@nuxtjs/composition-api'
import { Currency } from '@/models/Currency'
import CurrencyAbout from '@/components/CurrencyAbout.vue'
import CurrencyInfoList from '@/components/CurrencyInfoList.vue'
import CurrencyAlerts from '@/components/CurrencyAlerts.vue'
import CurrencyChart from '@/components/CurrencyChart.vue'
import CurrencyTitle from '@/components/CurrencyTitle.vue'

const CurrencyPage = defineComponent({
  name: 'CurrencyPage',

  components: {
    CurrencyAbout,
    CurrencyInfoList,
    CurrencyAlerts,
    CurrencyChart,
    CurrencyTitle
  },

  data () {
    return {
      currency: {} as Currency,
      hasData: false,
      isLoading: true,
      error: false,
      errorStatus: 'Server Error'
    }
  },

  async fetch () {
    try {
      const currencyResponse = await this.$axios.$get(`/api/currency/${this.$route.params.currency}`)
      this.currency = currencyResponse
    } catch (error) {
      if (axios.isAxiosError(error)) {
        const serverError = error as AxiosError
        if (serverError && serverError.response) {
          this.error = true
          if (serverError.response.status === 404) {
            this.errorStatus = 'Currency not Found'
          }
        }
      }
    }
    this.isLoading = false
  },

  methods: {
    onRemoveAlert (index:number) {
      this.currency?.alerts?.splice(index, 1)
    }
  }
})

export default CurrencyPage
</script>

<style lang="scss" module>
  .container{
    width: 100%;
  }

  .error{
    font-weight: 500;
    font-size: $fs-21;
    line-height: $lh-24;
    text-align: center;
    color: $text-osom-dark;
    padding: $sp-24 0;
  }
</style>
