<template>
  <div :class="$style.container">
    <div :class="$style.page">
      <div :class="$style.pageInner">
        <Nuxt :class="$style.content" />
      </div>

      <Footer />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import Footer from '@/components/Footer.vue'

const DefaultLayout = defineComponent({
  name: 'DefaultLayout',

  components: {
    Footer
  }
})

export default DefaultLayout
</script>

<style lang="scss" module>
  @import '@/styles/main';

  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
  }

  .page{
    width: 100%;
    max-width: 375px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 700px;
    background-color: $app-bg-dark;
    border-radius: $br-32;
    box-shadow: 4px 3px 10px 5px $phone-bg-grey;
    position: relative;
    overflow: hidden;
    padding: 44px 0px 70px;
  }

  .pageInner{
    width: 100%;
    height: 100%;
  }

  .content{
    height: 100%;
    overflow-y: scroll;
    padding: 0 $sp-12;

    &::-webkit-scrollbar {
      display: none;
    }
  }
</style>
