<template>
  <div :class="$style.container">
    <span :class="$style.titleText">
      {{ title }}
    </span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const ContentTitle = defineComponent({
  name: 'ContentTitle',

  props: {
    title: {
      type: String,
      required: true
    }
  }
})

export default ContentTitle
</script>

<style lang="scss" module>
  .container{
    width: 100%;
    margin-bottom: $sp-24;
    display: flex;
  }

  .titleText{
    color: $default-dark;
    font-size: $fs-16;
    line-height: $lh-24;
  }
</style>
