<template>
  <div :class="$style.content">
    <div :class="$style.topBar">
      <div :class="$style.leftPart">
        <img
          :src="require(`/assets/images/${symbol}.png`)"
          :class="$style.itemIcon"
        >
        <div :class="$style.info">
          <span :class="$style.valueEur">
            {{ priceLocale }}
          </span>

          <span :class="[$style.dateScores, { uptrend: trandDirection}]">
            <span>
              {{ datePrice }}
            </span>

            <span>
              {{ datePercentage }}
            </span>
          </span>
        </div>
      </div>

      <div :class="$style.rightPart">
        {{ DateValue[activeFilter] }}
      </div>
    </div>

    <CurrencyLineChart :chart-values="activeChartData.priceData" />

    <div :class="$style.bottomBar">
      <div
        v-for="(value, index) in priceHistory"
        :key="index"
        :class="[$style.filterButton, { active: index===activeFilter}]"
        @click="setActiveFilter(index)"
      >
        {{ index }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import CurrencyLineChart from './CurrencyLineChart.vue'
import { ChartData } from '@/models/Currency'

const DateValue = {
  '1D': '1 day',
  '7D': '7 days',
  '1M': '1 month',
  '3M': '3 months',
  YTD: '1 year',
  ALL: 'All'
}

const CurrencyChart = defineComponent({
  name: 'CurrencyChart',

  components: {
    CurrencyLineChart
  },

  props: {
    symbol: {
      type: String,
      required: true
    },

    price: {
      type: String,
      required: true
    },

    priceHistory: {
      type: Object,
      required: true
    }

  },

  data () {
    return {
      activeFilter: '1D',
      DateValue
    }
  },

  computed: {
    priceLocale () : String {
      return Number(this.price).toLocaleString()
    },

    datePrice () : String {
      return `${this.arrowDirection} ${Number(this.activeChartData.change.amount).toLocaleString()} EUR`
    },

    datePercentage () : String {
      return `(${Number(this.activeChartData.change.percents).toLocaleString()} %)`
    },

    activeChartData () : ChartData {
      return this.priceHistory[this.activeFilter]
    },

    arrowDirection () : String {
      if (this.activeChartData.change.isUptrend) {
        return '↑'
      } else {
        return '↓'
      }
    },

    trandDirection () : boolean {
      return this.activeChartData.change.isUptrend
    }
  },

  methods: {
    setActiveFilter (index:string) {
      this.activeFilter = index
    }
  }
})

export default CurrencyChart
</script>

<style lang="scss" module>
  .content{
    background-color: $panel-bg-dark;
    border-radius: $br-12;
    font-size: $fs-14;
    line-height: $lh-24;
    color: $text-osom-dark;
    padding: $sp-16;
    width: 100%;
    margin-bottom: $sp-24;
  }

  .itemIcon{
    width: $currency-icon-medium;
    height: $currency-icon-medium;
    display: block;
  }

  .leftPart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: $sp-12;
  }

  .valueEur{
    font-size: $fs-32;
    line-height: $lh-40;
    font-weight: 700;
    color: $text-osom-dark;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:after {
      content: 'eur';
      text-transform: uppercase;
      font-weight: 400;
      font-size: $fs-12;
      line-height: $lh-14;
      color: $text-secondary-light;
      padding-left: $sp-4;
    }
  }

  .dateScores{
    font-size: $fs-12;
    line-height: $lh-14;
    color: $error-dark;
    display: flex;
    column-gap: $sp-4;

    &:global(.uptrend){
      color:$success-dark;
    }
  }

  .info{
    display: flex;
    flex-direction: column;
  }

  .topBar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .rightPart{
    font-size: $fs-12;
    line-height: $lh-14;
    color: $default-dark;
  }

  .filterButton{
    font-size: $fs-14;
    line-height: $lh-16;
    color: $default-dark;
    display: flex;
    padding: $sp-8 $sp-12;
    border-radius: $br-12;
    cursor: pointer;

    &:global(.active){
      background-color: $blue;
      color: $text-osom-dark;
      cursor: default;
    }
  }

  .bottomBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .chart {
    height: 108px;
    width: 100%;
    margin: $sp-24 0;
  }
</style>
