<template>
  <div :class="$style.container">
    <ContentTitle :title="title" />

    <div :class="$style.content">
      <div :class="$style.infoBlock">
        <span :class="$style.title">Circulating Supply</span>

        <span :class="$style.value">{{ circulatingSupplyLocale }}</span>
      </div>

      <div :class="$style.infoBlock">
        <span :class="$style.title">Max Supply</span>

        <span :class="$style.value">{{ maxSupplyLocale }}</span>
      </div>

      <div :class="$style.infoBlock">
        <span :class="$style.title">Market Cap</span>

        <span :class="$style.value">{{ marketCapLocale }}</span>
      </div>

      <div :class="$style.infoBlock">
        <span :class="$style.title">All-Time High</span>

        <span :class="$style.value">{{ allTimeHighLocale }}</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import ContentTitle from './ContentTitle.vue'

const CurrencyInfoList = defineComponent({
  name: 'CurrencyInfoList',

  components: {
    ContentTitle
  },

  props: {
    circulatingSupply: {
      type: String,
      required: true
    },

    maxSupply: {
      type: String,
      required: true
    },

    marketCap: {
      type: String,
      required: true
    },

    allTimeHigh: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      title: 'Info'
    }
  },

  computed: {
    allTimeHighLocale () : String {
      return '€' + Number(this.allTimeHigh).toLocaleString()
    },

    marketCapLocale () : String {
      return '€' + Number(this.marketCap).toLocaleString()
    },

    maxSupplyLocale () : String {
      return Number(this.maxSupply).toLocaleString()
    },

    circulatingSupplyLocale () : String {
      return Number(this.circulatingSupply).toLocaleString()
    }
  }
})

export default CurrencyInfoList
</script>

<style lang="scss" module>
  .container{
    width: 100%;
    margin: $sp-24 0;
  }

  .content{
    background-color: $panel-bg-dark;
    border-radius: $sp-12;
    font-size: $fs-14;
    line-height: $lh-16;
    color: $text-osom-dark;
    padding: $sp-16;
    display: flex;
    flex-direction: column;
    row-gap: $sp-24;
  }

  .infoBlock{
    display: flex;
    flex-direction: column;
    row-gap: $sp-4;
  }

  .title{
    font-size: $fs-12;
    line-height: $lh-14;
    color: $text-secondary-light;
  }
</style>
