<template>
  <div :class="$style.chartHolder">
    <v-chart
      :class="$style.chart"
      :option="chartData"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { LineChart } from 'echarts/charts'
import {
  TitleComponent,
  LegendComponent,
  GridComponent
} from 'echarts/components'
import VChart from 'vue-echarts'

use([
  CanvasRenderer,
  LineChart,
  TitleComponent,
  LegendComponent,
  GridComponent
])

const CurrencyLineChart = defineComponent({
  name: 'CurrencyLineChart',

  components: {
    VChart
  },

  props: {
    chartValues: {
      type: Array,
      required: true
    }
  },

  computed: {
    chartData () : Object {
      return {
        grid: {
          show: false,
          left: 0,
          right: 0,
          top: 0,
          bottom: 0
        },
        legend: {
          show: false
        },
        title: {
          show: false
        },
        xAxis: {
          type: 'time',
          boundaryGap: false,
          show: false
        },
        yAxis: {
          type: 'value',
          show: false,
          min (value:any) {
            return value.min - value.min * 0.01
          },
          max (value:any) {
            return value.max + value.max * 0.01
          }
        },
        series: [
          {
            type: 'line',
            smooth: 0.3,
            symbol: 'none',
            lineStyle: {
              color: '#0064FF',
              width: 2
            },
            data: this.chartValues
          }
        ],
        animation: false,
        backgroundColor: 'rgb(255,255,255,0)'
      }
    }
  }
})

export default CurrencyLineChart
</script>

<style lang="scss" module>
  .chartHolder{
    min-height: 108px;
    margin: $sp-24 0;
    width: 100%;
  }

  .chart {
    height: 108px;
    width: 100%;
  }
</style>
