<template>
  <div :class="$style.container">
    <ContentTitle :title="title" />

    <div :class="$style.content">
      {{ description }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import ContentTitle from './ContentTitle.vue'

const CurrencyAbout = defineComponent({
  name: 'CurrencyAbout',

  components: {
    ContentTitle
  },

  props: {
    description: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      title: 'About'
    }
  }
})

export default CurrencyAbout
</script>

<style lang="scss" module>
  .container{
    width: 100%;
    margin: $sp-24 0;
  }

  .content{
    background-color: $panel-bg-dark;
    border-radius: $br-12;
    font-size: $fs-14;
    line-height: $lh-24;
    color: $text-osom-dark;
    padding: $sp-16;
  }
</style>
