<template>
  <div :class="$style.container">
    <NuxtLink
      :class="$style.linkIcon"
      to="/"
    >
      <LeftArrowIcon />
    </NuxtLink>

    <span :class="$style.titleText">
      {{ title }}
    </span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import LeftArrowIcon from './icons/LeftArrowIcon.vue'

const CurrencyTitle = defineComponent({
  name: 'CurrencyTitle',

  components: {
    LeftArrowIcon
  },

  props: {
    title: {
      type: String,
      required: true
    }
  }
})

export default CurrencyTitle
</script>

<style lang="scss" module>
  @import '@/styles/spacing';

  .container{
    width: 100%;
    padding: $sp-24 0;
    margin-bottom: $sp-12;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: $text-osom-dark;
  }

  .titleText{
    font-weight: 500;
    font-size: $fs-21;
    line-height: $lh-24;
  }

  .linkIcon{
    margin-right: $sp-8;
    color: inherit;
    text-decoration: none;
  }
</style>
