<template>
  <div
    v-if="hasAlerts"
    :class="$style.container"
  >
    <ContentTitle :title="title" />

    <CurrencyAlert
      v-for="(alert, index) in alerts"
      :key="index"
      :target-price-eur="alert.targetPriceEur"
      :percents-to-change="alert.percentsToChange"
      :is-higher="alert.isHigher"
      :symbol="symbol"
      :index="index"
      @removeAlert="onRemoveAlert"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import type { PropType } from '@nuxtjs/composition-api'
import ContentTitle from './ContentTitle.vue'
import CurrencyAlert from './CurrencyAlert.vue'

interface AlertMessage {
  targetPriceEur: string;
  percentsToChange: string;
  isHigher: boolean;
}

const CurrencyAlerts = defineComponent({
  name: 'CurrencyAlerts',

  components: {
    ContentTitle,
    CurrencyAlert
  },

  props: {
    alerts: {
      type: Array as PropType<AlertMessage[]>,
      required: true
    },

    symbol: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      title: 'Alerts'
    }
  },

  computed: {
    hasAlerts () : boolean {
      return this.alerts.length > 0
    }
  },

  methods: {
    onRemoveAlert (index:number) {
      this.$emit('removeAlert', index)
    }
  }
})

export default CurrencyAlerts
</script>

<style lang="scss" module>
  .container{
    width: 100%;
    margin: $sp-24 0;
  }
</style>
