<template>
  <div :class="$style.content">
    <div :class="$style.leftPart">
      <img
        :src="require(`/assets/images/${symbol}.png`)"
        :class="$style.itemIcon"
      >

      <div :class="$style.info">
        <span :class="$style.valueEur">
          {{ targetPriceEurLocale }}
        </span>

        <span :class="$style.percentage">
          ({{ arrowDirection }}{{ percentsToChange }} %)
        </span>
      </div>
    </div>
    <div
      :class="$style.removeButton"
      @click="$emit('removeAlert', index)"
    >
      <TrashIcon :class="$style.icon" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import TrashIcon from './icons/TrashIcon.vue'

const CurrencyAlert = defineComponent({
  name: 'CurrencyAlert',

  components: {
    TrashIcon
  },

  props: {
    targetPriceEur: {
      type: String,
      required: true
    },

    percentsToChange: {
      type: String,
      required: true
    },

    isHigher: {
      type: Boolean,
      required: true
    },

    symbol: {
      type: String,
      required: true
    },

    index: {
      type: Number,
      required: true
    }
  },

  computed: {
    arrowDirection () : String {
      if (this.isHigher) {
        return '↑'
      } else {
        return '↓'
      }
    },

    targetPriceEurLocale () : String {
      return Number(this.targetPriceEur).toLocaleString()
    }
  }
})

export default CurrencyAlert
</script>

<style lang="scss" module>
  .content{
    background-color: $panel-bg-dark;
    border-radius: $sp-12;
    font-size: $fs-14;
    line-height: $lh-24;
    color: $text-osom-dark;
    padding: $sp-16;
    width: 100%;
    margin: $sp-12 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .itemIcon{
    width: $currency-icon-small;
    height: $currency-icon-small;
    display: block;
  }

  .leftPart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: $sp-12;
  }

  .valueEur{
    font-size: $fs-19;
    line-height: $lh-24;
    color: $text-osom-dark;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:after {
      content: 'eur';
      text-transform: uppercase;
      font-size: $fs-12;
      line-height: $lh-14;
      color: $text-secondary-light;
      padding-left: $sp-4;
    }
  }

  .percentage{
    font-size: $fs-12;
    line-height: $lh-14;
    color: $default-dark;
  }

  .removeButton{
    background-image: url('~assets/images/squircle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $remove-icon-size;
    height: $remove-icon-size;
    color: $default-dark;
  }
</style>
