<template>
  <div :class="$style.container">
    <NuxtLink
      v-for="(currency, index) in currencies"
      :key="index"
      :to="`/currencies/${currency.symbol}`"
      :class="$style.item"
    >
      <div :class="$style.leftPart">
        <img
          :src="require(`/assets/images/${currency.symbol}.png`)"
          :class="$style.itemIcon"
        >

        <div :class="$style.info">
          <span :class="$style.name">
            {{ currency.name }}
          </span>

          <span :class="$style.amount">
            {{ currency.amount }} {{ currency.symbol }}
          </span>
        </div>
      </div>
      <div :class="$style.amountEur">
        <span :calss="$style.amountEurValue">
          {{ currency.amountEur }}
        </span>

        <span :class="$style.eur">
          eur
        </span>
      </div>
    </NuxtLink>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const CurrenciesList = defineComponent({
  name: 'CurrenciesList',

  props: {
    currencies: {
      type: Array,
      required: true
    }
  }
})

export default CurrenciesList
</script>

<style lang="scss" module>
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: $sp-12;
    margin-bottom: $sp-24;
  }

  .item{
    width: 100%;
    color: $text-osom-dark;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $panel-bg-dark;
    border-radius: $br-12;
    padding: $sp-16;
    font-size: $fs-16;
    line-height: $lh-24;
  }

  .leftPart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: $sp-12;
  }

  .itemIcon{
    width: $currency-icon-small;
    height: $currency-icon-small;
    display: block;
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .amount{
    color: $text-secondary-light;
    font-size: $fs-12;
    line-height: $lh-14;
    text-transform: uppercase;
  }

  .amountEur{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: $sp-4;
  }

  .eur{
    font-size: $fs-11;
    line-height: $lh-13;
    color: $text-secondary-light;
    text-transform: uppercase;
  }
</style>
