<template>
  <div :class="$style.footer">
    <div :class="$style.footerInner">
      <NuxtLink
        v-for="(menuEl,i) in menuList"
        :key="i"
        :to="`${menuEl.path}`"
        :class="$style.link"
      >
        <component :is="menuEl.icon" />

        <span :class="$style.text">
          {{ menuEl.title }}
        </span>
      </NuxtLink>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import HomeIcon from './icons/HomeIcon.vue'
import PortfolioIcon from './icons/PortfolioIcon.vue'
import WealthIcon from './icons/WealthIcon.vue'
import ExchangeIcon from './icons/ExchangeIcon.vue'
import HistoryIcon from './icons/HistoryIcon.vue'

const Footer = defineComponent({
  name: 'Footer',

  data () {
    return {
      menuList: [
        {
          title: 'Home',
          icon: HomeIcon,
          path: '/'
        },
        {
          title: 'Portfolio',
          icon: PortfolioIcon,
          path: '/portfolio'
        },
        {
          title: 'Wealth',
          icon: WealthIcon,
          path: '/wealth'
        },
        {
          title: 'Exchange',
          icon: ExchangeIcon,
          path: '/exchange'
        },
        {
          title: 'History',
          icon: HistoryIcon,
          path: '/history'
        }
      ]
    }
  }
})

export default Footer
</script>

<style lang="scss" module>
  .footer{
    width: 100%;
    background-color: $panel-bg-dark;
    padding: $sp-16 $sp-24 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    height: 70px;
  }

  .footerInner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .link{
    color: $default-dark;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: $sp-5;
    font-size: $fs-11;
    line-height: $lh-13;

    &:global(.nuxt-link-active) {
      color: $text-osom-dark;
    }
  }
</style>
