<template>
  <div :class="$style.container">
    <div :class="$style.search">
      <input
        v-model="currency"
        :class="$style.searchInput"
        @input="currenciesFilter(currency)"
      >

      <SearchIcon :class="$style.icon" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import SearchIcon from './icons/SearchIcon.vue'

const SearchBar = defineComponent({
  name: 'SearchBar',

  components: {
    SearchIcon
  },

  data () {
    return {
      currency: ''
    }
  },

  methods: {
    currenciesFilter (currency: string) {
      this.$emit('currenciesFilter', currency)
    }
  }
})

export default SearchBar
</script>

<style lang="scss" module>
  .container{
    position: sticky;
    top: 0;
    left: 0;
    background-color: $app-bg-dark;
    margin-bottom: $sp-24;
  }

  .search{
    width: 100%;
    border: $bw-1 solid $text-secondary-light;
    box-sizing: border-box;
    border-radius: $br-12;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .searchInput{
    width: 100%;
    border: none;
    background-color: $app-bg-dark;
    font-size: $fs-16;
    font-family: 'Roboto';
    line-height: $lh-24;
    padding: $sp-16;
    padding-left: $sp-56;
    color: $text-secondary-light;
    outline: none;
  }

  .icon{
    position: absolute;
    left: $sp-18;
    top: 50%;
    width: $search-icon-size;
    height: $search-icon-size;
    margin-top: -$sp-12;
    color: $text-secondary-light;
  }
</style>
