<template>
  <div>
    <div v-if="!error">
      <SearchBar @currenciesFilter="currenciesFilter" />

      <CurrenciesList :currencies="filteredCurrencies" />
    </div>

    <div v-else>
      <div :class="$style.error">
        {{ errorStatus }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import axios, { AxiosError } from 'axios'
import { CurrencyInfo } from '@/models/Currency'
import SearchBar from '@/components/SearchBar.vue'
import CurrenciesList from '@/components/CurrenciesList.vue'

const HomePage = defineComponent({
  name: 'HomePage',

  components: {
    SearchBar,
    CurrenciesList
  },

  data () {
    return {
      currencies: [] as CurrencyInfo[],
      currency: '',
      isLoading: true,
      error: false,
      errorStatus: ''
    }
  },

  async fetch () {
    try {
      const currenciesResponse = await this.$axios.$get('/api/')
      this.currencies = currenciesResponse
    } catch (error) {
      if (axios.isAxiosError(error)) {
        const serverError = error as AxiosError
        if (serverError && serverError.response) {
          this.error = true
          this.errorStatus = 'Server Error ' + serverError.response.status
        }
      }
    }
    this.isLoading = false
  },

  computed: {
    filteredCurrencies () : CurrencyInfo[] | [] {
      return this.currencies.filter(({ name, symbol }) => {
        return name.toLowerCase().includes(this.currency.toLowerCase()) || symbol.toLowerCase().includes(this.currency.toLowerCase())
      })
    }
  },

  methods: {
    currenciesFilter (currency: string) {
      this.currency = currency
    }
  }
})

export default HomePage
</script>

<style lang="scss" module>
  .error{
    font-weight: 500;
    font-size: $fs-21;
    line-height: $lh-24;
    text-align: center;
    color: $text-osom-dark;
    padding: $sp-24 0;
  }
</style>
