<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M17 23H7C3.68629 23 1 20.3137 1 17V13C1 12.4477 1.44772 12 2 12C2.55228 12 3 12.4477 3 13L3 17C3 19.2091 4.79086 21 7 21H17C19.2091 21 21 19.2091 21 17V7C21 4.79086 19.2091 3 17 3L7 3C4.79086 3 3 4.79086 3 7L3 8C3 8.55228 2.55228 9 2 9C1.44772 9 1 8.55228 1 8V7C1 3.68629 3.68629 1 7 1H17C20.3137 1 23 3.68629 23 7V17C23 20.3137 20.3137 23 17 23ZM6 8C6 7.44772 6.44772 7 7 7L14.5858 7L13.2929 5.70711C12.9024 5.31658 12.9024 4.68342 13.2929 4.29289C13.6834 3.90237 14.3166 3.90237 14.7071 4.29289L16.2071 5.79289L17.7071 7.29289C18.0976 7.68342 18.0976 8.31658 17.7071 8.70711L14.7071 11.7071C14.3166 12.0976 13.6834 12.0976 13.2929 11.7071C12.9024 11.3166 12.9024 10.6834 13.2929 10.2929L14.5858 9H7C6.44772 9 6 8.55229 6 8ZM17 17C17.5523 17 18 16.5523 18 16C18 15.4477 17.5523 15 17 15L9.41422 15L10.7071 13.7071C11.0976 13.3166 11.0976 12.6834 10.7071 12.2929C10.3166 11.9024 9.68342 11.9024 9.2929 12.2929L6.29289 15.2929C5.90237 15.6834 5.90237 16.3166 6.29289 16.7071L9.29289 19.7071C9.68342 20.0976 10.3166 20.0976 10.7071 19.7071C11.0976 19.3166 11.0976 18.6834 10.7071 18.2929L9.41421 17H17Z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const ExchangeIcon = defineComponent({
  name: 'ExchangeIcon'
})

export default ExchangeIcon
</script>
