<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M22 17C22 20.3137 19.3137 23 16 23H8C4.68629 23 2 20.3137 2 17V7C2 3.68629 4.68629 1 8 1H9C9.55228 1 10 1.44772 10 2C10 2.55228 9.55228 3 9 3H8C5.79086 3 4 4.79086 4 7V17C4 19.2091 5.79086 21 8 21H16C18.2091 21 20 19.2091 20 17V7C20 4.79086 18.2091 3 16 3H14C13.4477 3 13 2.55228 13 2C13 1.44772 13.4477 1 14 1H16C19.3137 1 22 3.68629 22 7V17ZM7.875 6C7.39175 6 7 6.44772 7 7C7 7.55228 7.39175 8 7.875 8H13.125C13.6082 8 14 7.55228 14 7C14 6.44772 13.6082 6 13.125 6H7.875ZM7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8C7.44772 13 7 12.5523 7 12ZM8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18H16C16.5523 18 17 17.5523 17 17C17 16.4477 16.5523 16 16 16H8Z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const HistoryIcon = defineComponent({
  name: 'HistoryIcon'
})

export default HistoryIcon
</script>
