<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8 23H6C3.79086 23 2 21.2091 2 19V16.875V11.925V9.79999C2 8.2262 2.74097 6.74426 4 5.79999L4.45 5.46249C4.89183 5.13112 5.51863 5.22066 5.85 5.66249C6.18137 6.10432 6.09183 6.73112 5.65 7.06249L5.2 7.39999C4.44458 7.96655 4 8.85572 4 9.79999V11.925V16.875V19C4 20.1046 4.89543 21 6 21H8H9C9.55228 21 10 21.4477 10 22C10 22.5523 9.55228 23 9 23H8Z"
      fill="currentColor"
    />

    <path
      d="M9 2.04999C10.7778 0.716655 13.2222 0.716654 15 2.04999L20 5.79999C21.259 6.74426 22 8.2262 22 9.79999V11.925V16.875V19C22 21.2091 20.2091 23 18 23H16C14.8954 23 14 22.1046 14 21V17C14 16.4477 13.5523 16 13 16H11C10.4477 16 10 16.4477 10 17V18C10 18.5523 9.55228 19 9 19C8.44772 19 8 18.5523 8 18V16C8 14.8954 8.89543 14 10 14H14C15.1046 14 16 14.8954 16 16V21H18C19.1046 21 20 20.1046 20 19V16.875V11.925V9.79999C20 8.85572 19.5554 7.96655 18.8 7.39999L13.8 3.64999C12.7333 2.84999 11.2667 2.84999 10.2 3.64999L9.75 3.98749C9.30817 4.31886 8.68137 4.22932 8.35 3.78749C8.01863 3.34566 8.10817 2.71886 8.55 2.38749L9 2.04999Z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const HomeIcon = defineComponent({
  name: 'HomeIcon'
})

export default HomeIcon
</script>
