<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.7071 6.70711C13.0976 6.31658 13.0976 5.68342 12.7071 5.29289C12.3166 4.90237 11.6834 4.90237 11.2929 5.29289L5.29289 11.2929C4.90237 11.6834 4.90237 12.3166 5.29289 12.7071L11.2929 18.7071C11.6834 19.0976 12.3166 19.0976 12.7071 18.7071C13.0976 18.3166 13.0976 17.6834 12.7071 17.2929L8.41421 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H8.41421L12.7071 6.70711Z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const LeftArrowIcon = defineComponent({
  name: 'LeftArrowIcon'
})

export default LeftArrowIcon
</script>
