<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M13.5 1C15.433 1 17 2.067 17 4C20.3137 4 23 5.68629 23 9V13C23 13.5523 22.5523 14 22 14H21H15C14.4477 14 14 13.5523 14 13C14 11.8954 13.1046 11 12 11C10.8954 11 10 11.8954 10 13C10 13.5523 9.55228 14 9 14H3V17C3 19.2091 4.79086 21 7 21H8C8.55228 21 9 21.4477 9 22C9 22.5523 8.55228 23 8 23H7C3.68629 23 1 20.3137 1 17V12V9C1 5.68629 3.68629 4 7 4H7.03544C7.27806 2.30385 8.73676 1 10.5 1H13.5ZM8.12602 12C8.57006 10.2748 10.1362 9 12 9C13.8638 9 15.4299 10.2748 15.874 12H21V9C21 6.79086 19.2091 6 17 6H15H12C11.4477 6 11 5.55228 11 5C11 4.44772 11.4477 4 12 4H15C15 3.17157 14.3284 3 13.5 3H10.5C9.67157 3 9 3.67157 9 4.5V5C9 5.55228 8.55228 6 8 6H7C4.79086 6 3 6.79086 3 9V12H8.12602ZM23 17C23 20.3137 20.3137 23 17 23H13C12.4477 23 12 22.5523 12 22C12 21.4477 12.4477 21 13 21H17C19.2091 21 21 19.2091 21 17C21 16.4477 21.4477 16 22 16C22.5523 16 23 16.4477 23 17ZM12 12C12.5523 12 13 12.4477 13 13V15C13 15.5523 12.5523 16 12 16C11.4477 16 11 15.5523 11 15V13C11 12.4477 11.4477 12 12 12Z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const PortfolioIcon = defineComponent({
  name: 'PortfolioIcon'
})

export default PortfolioIcon
</script>
