<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M23 17V7C23 3.68629 20.3137 1 17 1H12H7C3.68629 1 1 3.68629 1 7V17C1 20.3137 3.68629 23 7 23H8C8.55228 23 9 22.5523 9 22C9 21.4477 8.55228 21 8 21H7C4.79086 21 3 19.2091 3 17V7C3 4.79086 4.79086 3 7 3H12H17C19.2091 3 21 4.79086 21 7V17C21 19.2091 19.2091 21 17 21H16.5H14.25H13C12.4477 21 12 21.4477 12 22C12 22.5523 12.4477 23 13 23H14.25H16.5H17C20.3137 23 23 20.3137 23 17ZM18.7282 9.68536C19.1067 9.28319 19.0875 8.65032 18.6854 8.2718C18.2832 7.89328 17.6503 7.91246 17.2718 8.31464L12.7059 13.1659L10.2576 10.5646C10.0686 10.3638 9.80514 10.25 9.52941 10.25C9.25368 10.25 8.99019 10.3638 8.80121 10.5646L5.2718 14.3146C4.89328 14.7168 4.91246 15.3497 5.31464 15.7282C5.71681 16.1067 6.34968 16.0875 6.7282 15.6854L9.52941 12.7091L11.9777 15.3104C12.1667 15.5112 12.4302 15.625 12.7059 15.625C12.9816 15.625 13.2451 15.5112 13.4341 15.3104L18.7282 9.68536Z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

const WealthIcon = defineComponent({
  name: 'WealthIcon'
})

export default WealthIcon
</script>
