$app-bg-dark: #121212;
$panel-bg-dark: #20242D;
$default-dark: #7E83A6;
$phone-bg-grey: #888888;
$text-osom-dark: #E8EAF4;
$text-secondary-light: #A09FC3;
$blue: #0A84FF;
$success-dark: #30D158;
$error-dark: #EE3D48;