$fs-11: 11px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-19: 19px;
$fs-21: 21px;
$fs-32: 32px;

$lh-13: 13px;
$lh-14: 14px;
$lh-16: 16px;
$lh-24: 24px;
$lh-40: 40px;

$currency-icon-small: 32px;
$currency-icon-medium: 44px;
$remove-icon-size: 38px;
$search-icon-size: 24px;